<!DOCTYPE html>

<html>
  <head>
    <title>Blog Posts</title>

    <!-- This will only work if you fit it into app.yaml:
      <link
        type="text/css"
        rel="stylesheet"
        href="posts_styles.css"
    /> -->
  </head>

  <body>

    <style>
      body{ font-family: Serif }
      a{ color: blue }
    </style>

    <h1>Writer's Blo...g</h1>
    <!-- Make into relative image path: <img src="file:///Users/Ruthie/blog/Pencil.jpg"/> -->
    <img src="http://www.ci.berkeley.ca.us/uploadedImages/Manager/Economic_Development/Pencil%20on%20paper%20-%20250.jpg"
    />
    <h3>Click <a href="/new">here</a> to make a new post.</h3>
    <h3>Click <a href="/">here</a> to return to the homepage.</h3>

    <form>
      <h4>Previous Posts:</h4>
    {% for post in posts %}
      <div class="post">
        <div class="post-title"><a href='/view/{{post.key().id()}}'>{{post.title}}</a></div>
        <pre class="post-body">{{post.post}}</pre>
     </div>
    {% endfor %}

    </form>

      <!-- Pagination on Homepage instead of this page? -->

  </body>
</html>
