<!DOCTYPE html>

<html>
  <head>
    <title>Blog</title>
  </head>

  <body>
    <h1>Writer's Blo...g</h1>
    <h3>Click <a href="/">here</a> to return to the homepage.</h3>
    <p>Enter a new post:</p>

    <form method="post">
      <label>
          <div>title</div>
          <input type="text" name="title" value="{{title}}">
      </label>

      <label>
          <div>post</div>
          <textarea name="post">{{post}}</textarea>
      </label>

      <div style="color: blue" class="error">{{error}}</div>

      <input type="submit">
    </form>

  </body>
</html>
