<!DOCTYPE html>

<html>
  <head>
    <title>Blog</title>
  </head>

  <body>

    <style>
      body{ font-family: Serif }
      a{ color: blue }
    </style>

    <h1>Writer's Blo...g</h1>
    <!-- Make into relative image path: <img src="file:///Users/Ruthie/blog/Pencil.jpg"/> -->
    <img src="http://www.ci.berkeley.ca.us/uploadedImages/Manager/Economic_Development/Pencil%20on%20paper%20-%20250.jpg"
    />
    <h3>Click <a href="/">here</a> to return to the homepage.</h3>
    <p>Enter a new post:</p>

    <form method="post">
      <label>
          <div>title</div>
          <input type="text" name="title" value="{{title}}">
      </label>

      <label>
          <div>post</div>
          <textarea name="post">{{post}}</textarea>
      </label>

      <div style="color: blue" class="error">{{error}}</div>

      <input type="submit">
    </form>

  </body>
</html>
