<!DOCTYPE html>

<html>
  <head>
    <title>Single Post</title>
  </head>

  <body>
    <h1>Writer's Blo...g</h1>
    <!-- Make into relative image path: <img src="file:///Users/Ruthie/blog/Pencil.jpg"/> -->
    <img src="http://www.ci.berkeley.ca.us/uploadedImages/Manager/Economic_Development/Pencil%20on%20paper%20-%20250.jpg"
    />
    <h3>Click <a href="/">here</a> to return to the homepage.</h3>
    <h3>Click <a href="/new">here</a> to make a new post.</h3>

    <form>

      {% block content %}

          <div class="post-title">{{post.title}}</div>
          <div class="post-body">{{post.post}}</div>

      {% endblock %}

   </form>

</body>
</html>
